In [5]:
import os

In [7]:
pwd

'e:\\work\\project mlops\\Chatbot1\\Chatbot'

In [6]:
os.chdir('../')

In [1]:
import pandas as pd

In [8]:
df=pd.read_csv("artifacts\model_evaluation\predictions.csv")

<>:1: SyntaxWarning: invalid escape sequence '\m'
<>:1: SyntaxWarning: invalid escape sequence '\m'
C:\Users\Abdullah Ali\AppData\Local\Temp\ipykernel_14656\866916775.py:1: SyntaxWarning: invalid escape sequence '\m'
  df=pd.read_csv("artifacts\model_evaluation\predictions.csv")

In [9]:
df.head()

,Input,Target,Prediction
0,the table structure is: create table classroom...,SELECT buildingnFROM classroomnWHERE capacity ...,Table structure is: create table classroomn (b...
1,SELECT buildingnFROM classroomnWHERE capacity ...,the table structure is: create table classroom...,SELECT buildingnFROM classroomnWHERE capacity ...
2,the table structure is: create table classroom...,"I'm sorry, but the table structure and questio...",The table structure is: create table classroom...
3,"I'm sorry, but the table structure and questio...",the table structure is: create table classroom...,"I'm sorry, but the table structure and questio..."
4,the table structure is: create table classroom...,"To answer this question, you would need to kno...",The table structure is: create table classroom...

In [10]:
df['Input'][0]

'the table structure is: create table classroomn (building varchar(15) comment \'\',n room_number varchar(7) comment \'\',n capacity numeric(4,0) comment \'\',n primary key (building, room_number)n ) comment=\'\';n;the question is: Find the buildings which have rooms with capacity more than 50.convert to sql according to the table structure and question prompt",'

In [11]:
df['Target'][0]

"SELECT buildingnFROM classroomnWHERE capacity > 50;',"

In [13]:
df['Prediction'][0]

'Table structure is: create table classroomn (building varchar(15) comment \'\',n room_number varchar(7) comment \'\',n capacity numeric(4,0) comment \'\',n primary key (building, room_number)n ) comment=\'\';n;the question is: Find the buildings which have rooms with capacity more than 50.convert to sql according to the table structure and question prompt".'