In [1]:
import os

In [2]:
pwd

'e:\\work\\project mlops\\Chatbot1\\Chatbot\\research'

In [4]:
os.chdir('../')

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("artifacts\model_evaluation\predictions.csv")

<>:1: SyntaxWarning: invalid escape sequence '\m'
<>:1: SyntaxWarning: invalid escape sequence '\m'
C:\Users\Abdullah Ali\AppData\Local\Temp\ipykernel_6372\866916775.py:1: SyntaxWarning: invalid escape sequence '\m'
  df=pd.read_csv("artifacts\model_evaluation\predictions.csv")

In [6]:
df.head()

,Input,Target,Prediction
0,Convert the following question to SQL: the tab...,SELECT building FROM classroom WHERE capacity ...,to sql according to the table structure and qu...
1,Convert the following question to SQL: SELECT ...,the table structure is: create table classroom...,Convert the following question to SQL: SELECT ...
2,Convert the following question to SQL: the tab...,"I'm sorry, but the table structure and questio...",Convert the following question to SQL: create ...
3,Convert the following question to SQL: I'm sor...,the table structure is: create table classroom...,"the following question to SQL: I'm sorry, but ..."
4,Convert the following question to SQL: the tab...,"To answer this question, you would need to kno...",Convert the following question to SQL: create ...

In [7]:
df['Input'][0]

"Convert the following question to SQL: the table structure is: create table classroom (building varchar(15) comment '', room_number varchar(7) comment '', capacity numeric(4,0) comment '', primary key (building, room_number) ) comment=''; ;the question is: Find the buildings which have rooms with capacity more than 50.convert to sql according to the table structure and question prompt"

In [8]:
df['Target'][0]

'SELECT building FROM classroom WHERE capacity > 50;'

In [9]:
df['Prediction'][0]

"to sql according to the table structure and question prompt: create table classroom (building varchar(15) comment '', room_number varchar(7) comment '', capacity numeric(4,0) comment '', primary key (building, room_number) ) comment='';the question is: Find the buildings which have rooms with capacity more than 50.convert to sql according to the table structure and question prompt: create table classroom (building varchar(15) comment"